@page "/admin/category/delete-category/{categoryId:guid}"
@using StoreProject.UI.Services
@inject ICategoryService CategoryService;
@inject IToastService ToastService;
@inject NavigationManager NavigationManager

<div class="container">
    
        <div class="row">
            
            <div class="col-md-12">
                <div class="post_content">
                    <EditForm Model="@Category" OnValidSubmit="HandleDeleteCategory">
                        <fieldset disabled>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>عنوان : </label>
                                <InputText class="form-control" @bind-Value="@Category.Title" placeholder="عنوان دسته بندی" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>فعال : </label>
                                <input type="checkbox" @bind="@Category.IsActive">
                            </div>
                        </div>
                        </fieldset>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-success" type="submit">@Title دسته بندی</button>
                            </div>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    
</div>

@code {
    [Parameter]
    public Guid CategoryId { get; set; }
    public string Title { get; set; } = "حذف";
    private ProductCategoryDto Category { get; set; } = new ProductCategoryDto();

    protected override async Task OnInitializedAsync()
    {
        Category = await CategoryService.GetProductCategoryById(CategoryId, false);
    }
    private async Task HandleDeleteCategory()
    {
        try
        {
            await CategoryService.DeleteProductCategory(CategoryId);
            ToastService.ShowSuccess("پیغام موفقیت", "دسته بندی مورد نظر با موفقیت حذف شد");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
        NavigationManager.NavigateTo("admin/category");
    }
    }